@page "/dash"
@using studbud.Client.Pages.DashboardPages
@using studbud.Client.Widgets
@using studbud.Shared.Models
@inject NavigationManager navigationManager
@layout MinLayout

<MudLayout>
    <MudAppBar Elevation="0" >
        <MudIconButton Icon="@Icons.Material.Filled.ArrowBack" Color="Color.Inherit" Edge="Edge.Start"  OnClick="OnBack"/>
        <MudText Typo="Typo.h5" Class="ml-3">studbud</MudText>
        <MudSpacer />
    </MudAppBar>
    <MudDrawer @bind-Open="@open" Fixed="true" Elevation="0" ClipMode="DrawerClipMode.Always" Variant="@DrawerVariant.Mini" OpenMiniOnHover="true" Breakpoint="Breakpoint.None">
        <MudNavMenu>
            <MudNavMenu>
                <MudNavLink IconColor="@(page == Page.Home ? Color.Primary : Color.Default)" OnClick="() => SwitchPage(Page.Home)" Icon="@Icons.Material.Filled.Home">Home</MudNavLink>
                <MudNavLink IconColor="@(page == Page.Chat ? Color.Primary : Color.Default)" OnClick="() => SwitchPage(Page.Chat)" Icon="@Icons.Material.Filled.Chat">Chat</MudNavLink>
                <MudNavLink IconColor="@(page == Page.Class ? Color.Primary : Color.Default)" OnClick="() => SwitchPage(Page.Class)" Icon="@Icons.Material.Filled.School">Class</MudNavLink>
                <MudNavLink IconColor="@(page == Page.Quiz ? Color.Primary : Color.Default)" OnClick="() => SwitchPage(Page.Quiz)" Icon="@Icons.Material.Filled.Quiz">Quiz</MudNavLink>
            </MudNavMenu>
        </MudNavMenu>
    </MudDrawer>
    <MudMainContent>
        <MudPaper Class="rounded-xl pa-6 mx-auto" Style="border-radius: 20px 0 0 0; width:100%; height:100%; padding : 20px;">
            @switch (page) {
                case Page.Home:
                    <studbud.Client.Pages.DashboardPages.Default OnOpenChat="(x) => {chat = x; SwitchPage(Page.Chat);}" OnOpenQuiz="(x) => {quiz = x; editingQuiz = true; SwitchPage(Page.Quiz);}" OnCreateQuiz="() => {quiz = null; editingQuiz=true; SwitchPage(Page.Quiz);}" OnOpenClass="(x) => {clss = x; SwitchPage(Page.Class);}" />
                    break;
                case Page.Chat:
                    <studbud.Client.Pages.DashboardPages.ChatPage chat="chat" OnChatChanged="(x) => {chat = x; StateHasChanged();}"/>
                    break;
                case Page.Class:
                    <studbud.Client.Pages.DashboardPages.ClassPage clss="clss" OnClassChanged="(x) => {clss = x; StateHasChanged();}"/>
                    break;
                case Page.Quiz:
                    <studbud.Client.Pages.DashboardPages.QuizPage quiz="quiz" editing="@(editingQuiz ?? false)" OnQuizChanged="(x, y) => {quiz = x; editingQuiz = y; StateHasChanged();}"/>
                    break;
            }
        </MudPaper>
    </MudMainContent>
</MudLayout>



<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    private bool open = false;
    private Page page = Page.Home;

    private Class? clss;
    private Chat? chat;
    private Quiz? quiz;
    private bool? editingQuiz;

    enum Page {
        Home,
        Class,
        Chat,
        Quiz
    }

    private void DrawerToggle()
    {
        open = !open;
    }

    private void SwitchPage(Page p) {
        page = p;
        StateHasChanged();
    }

    private void OnBack() {
        navigationManager.NavigateTo("/");
    }
}
