@page "/chat/{chatId}"
@using Acascendia.Models
@using Microsoft.Extensions.Configuration.UserSecrets
@using SurrealDb.Net
@using SurrealDb.Net.Models
@using System.Text.RegularExpressions
@inject Data data
@inject SurrealDbClient client
@inject NavigationManager navigationManager
@attribute [StreamRendering]
@rendermode InteractiveServer

<PageTitle>Chat</PageTitle>

<MudLayout>
    <MudAppBar Elevation="1">
        <MudIconButton Icon="@Icons.Material.Filled.ArrowBack" Color="Color.Inherit" Edge="Edge.Start"  OnClick="OnBack"/>
        <MudText Typo="Typo.h6">@name</MudText>
        <MudSpacer />
    </MudAppBar>
    <MudMainContent Style="bottom : 20px; height : auto; position : fixed;" Class="pt-16 px-16">
        <div>
            @{
                var orderedMessages = messages
                    .OrderBy(m => m.Date)
                    .ToList();


                if (orderedMessages.Count > 0) {


                List<List<Message>> orderedGroups = [[orderedMessages[0]]];

                foreach (var message in orderedMessages.Skip(1)) {
                    if (orderedGroups.Last().First().User == message.User) {
                        orderedGroups.Last().Add(message);
                    }else {
                        orderedGroups.Add([message]);
                    }
                }

                for (int i = 0; i < orderedGroups.Count; i++)
                {
                    var group = orderedGroups[i];
                    var usrText = GetUserText(group.First().User);
                    var position = usrText == "You" ? ChatBubblePosition.End : ChatBubblePosition.Start;

                    <MudChat ChatPosition="@position">
                        <MudChatHeader Name="@usrText"/>
                        @foreach (var message in group.OrderBy(m => m.Date))
                        {
                            <MudChatBubble>
                                @message.Text
                            </MudChatBubble>
                        }
                    </MudChat>
                }
                }
            }
        </div>
        <MudSpacer/>
        <MudTextField Style="margin-top : 20px;" @ref="inputField" T="string" AutoGrow Variant="Variant.Outlined" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Send" OnAdornmentClick="OnSubmit" AdornmentAriaLabel="Submit" />
    </MudMainContent>
    
</MudLayout>

@code {
    [Parameter]
    public string chatId {get; set;}
    private string? name;
    private Chat? chat;
    private List<Message> messages = [];
    MudTextField<string> inputField;
    private List<User> users = [];

    private string GetUserText(String userId) {
        if (userId == data.user.Id.DeserializeId<string>()) {
            return "You";
        }  else {
            return users.Where((x) => x.Id.DeserializeId<string>() == userId).First().Username;
        }
    }

    private async Task OnSubmit()
    {
        if (inputField.Value.Trim().Length <= 0) {
            return;
        }

        var msg = new Message {
            Text = inputField.Value.Trim(),
            Parent = chatId,
            Date = DateTime.Now,
            User = data.user.Id.DeserializeId<string>()
        };

        messages.Add(msg);

        await client.Create("message", msg);

        await inputField.Clear();
    }

    protected override async Task OnInitializedAsync()
    {
        chat = await client.Select<Chat>(("chat", chatId));
        name = await chat.GetName(client, data.user.Id.DeserializeId<string>());
        var result = await client.Query($"SELECT * FROM message WHERE Parent = {chatId} ORDER BY Date ASC;");
        var messages_res = result.GetValue<Message[]>(0);
        if (messages_res is not null) {
            messages = messages_res.ToList();
        }

        foreach (var user in chat.Users) {
            users.Add(
                await client.Select<User>(("user", user))
            );
        }
    }

    private void OnBack() {
        navigationManager.NavigateTo("/dash");
    }
}