@page "/signup"
@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations
@using Acascendia.Models
@using SurrealDb.Net
@using System.Threading.Tasks
@inject NavigationManager navigationManager
@inject Data data
@inject SurrealDbClient client
@rendermode InteractiveServer

<Acascendia.Shared.DefaultLayout>

<div style="display: flex; justify-content: center;">
    <MudPaper Class="pa-4" style="width : 600px; ">
        <MudText Typo="Typo.h3">Sign Up</MudText>
        <MudForm @ref="form" @bind-IsValid="@success" @bind-Errors="@errors" @onsubmit="OnSubmit" >
            <MudTextField T="string" Label="Username" Required="true" RequiredError="User name is required!" @ref="usernameField" />
            <MudTextField T="string" Label="Email" Required="true" RequiredError="Email is required!" @ref="emailField"
                    Validation="@(new EmailAddressAttribute() {ErrorMessage = "The email address is invalid"})" />
            <MudTextField T="string" Label="Password" HelperText="Choose a strong password" @ref="pwField1"
                        InputType="InputType.Password"
                        Validation="@(new Func<string, IEnumerable<string>>(PasswordStrength))" Required="true"
                        RequiredError="Password is required!"/>
            <MudTextField T="string"
                        Label="Repeat Password" HelperText="Repeat the password" @ref="pwField2" InputType="InputType.Password"
                        Validation="@(new Func<string, string>(PasswordMatch))"/>
            <div style="display : flex; flex-wrap : nowrap;">
                <MudButton OnClick="OnLogin" Variant="Variant.Filled" Color="Color.Secondary" Class="ml-auto">Login</MudButton>
                <MudSpacer/>
                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Register</MudButton>
            </div>
        </MudForm>
    </MudPaper>
</div>

</Acascendia.Shared.DefaultLayout>

@code {
    bool success;
    string[] errors = { };
    MudTextField<string> usernameField;
    MudTextField<string> emailField;
    MudTextField<string> pwField1;
    MudTextField<string> pwField2;
    MudForm form;

    private IEnumerable<string> PasswordStrength(string pw) {
        if (string.IsNullOrWhiteSpace(pw)) {
            yield return "Password is required!";
            yield break;
        }
        if (pw.Length < 8)
            yield return "Password must be at least of length 8";
        if (!Regex.IsMatch(pw, @"[A-Z]"))
            yield return "Password must contain at least one capital letter";
        if (!Regex.IsMatch(pw, @"[a-z]"))
            yield return "Password must contain at least one lowercase letter";
        if (!Regex.IsMatch(pw, @"[0-9]"))
            yield return "Password must contain at least one digit";
    }

    private string PasswordMatch(string arg) {
        if (pwField1.Value != arg)
            return "Passwords don't match";
        return null;
    }

    private async Task OnSubmit() {
        var res = await client.Query($"SELECT * FROM user WHERE Username = {usernameField.Value.Trim()} and Password = {pwField1.Value} LIMIT 1;");

        var res2 = res.GetValue<List<UserInfo>>(0);

        if (res2 is not null) {
            if (res2.Count > 0) {
                data.UpdateUser(res2.First());
                navigationManager.NavigateTo("/dash");
            }
        }

        data.UpdateUser(await client.Create("user", new UserInfo {
            Username = usernameField.Value.Trim(),
            Email = emailField.Value.Trim(),
            Password = pwField1.Value
        }));
        navigationManager.NavigateTo("/dash");
    }

    private void OnLogin() {
        navigationManager.NavigateTo("/login");
    }
}
